.contacts-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 80vh;
  padding: 10px 10px;
  overflow: scroll;
}
.contacts-container::-webkit-scrollbar {
  width: 0;
}
li {
  width: 100%;
  margin-bottom: 40px;
}
.avatar {
  border-radius: 50%;
  text-align: center;
  color: white;
  width: 50px;
  height: 50px;
  background-color: #78b5f1;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 10px;
  align-self: flex-start;
}
.contact {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}
.contact:hover {
  transition-delay: 10ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.contact-description {
  width: 60%;
}
.name {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  letter-spacing: 0;
  padding: 2px 2px;
}
.lust-message {
  overflow: hidden;
  text-overflow: ellipsis;
}
