.search-container {
  position: relative;
  margin-left: 27px;
  width: 100%;
}
.search {
  width: 90%;
  min-height: 30px;
  padding: 20px 10px 20px 60px;
  border-radius: 8px;
  border: none;
  outline: none;
}
.search-logo {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  left: 20px;
}
img {
  width: 100%;
  pointer-events: none;
}
.tools {
  position: relative;
}
