.messages-search-container {
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}
.message-search-input {
  width: 200px;
  height: 30px;
  padding: 5px 10px 5px 40px;
  position: absolute;
  left: 0;
  border: none;
}
input:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.search-logo {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  left: 10px;
}

.settings-logo {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  right: 10px;
}
img {
  width: 100%;
  pointer-events: none;
}
h4 {
  padding: 0;
  margin: 0 5px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.user-name {
  display: flex;
  margin: auto;
  position: relative;
  align-items: center;
  justify-content: center;
}
.online {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #28de2e;
}
.button {
  cursor: pointer;
}
.none {
  display: none;
}
