.tools {
  box-sizing: border-box;
  position: relative;
}
.add-comment-area {
  width: 100%;
  padding: 5px 55px 5px 5px;
  height: 60px;
  box-sizing: border-box;
  resize: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border: none;
}
.add-message {
  width: 100%;
}
.add-logo {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  right: 40px;
}
.microphone-logo {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  right: 12px;
}
textarea::placeholder {
  padding: 12px 15px;
}
