.profile-container {
  padding: 50px 15px;
  font-family: Roboto, serif;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgba(185, 185, 185, 0.31);
  transition: 0.7s;
  transform-origin: right;
  transform: scaleX(0);
  width: 0;
  height: 100vh;
}
.open {
  transform-origin: right;
  transform: scaleX(1);
  overflow-y: scroll;
  width: 20%;
}
